.book-and-call-1 {
  .private-shopping {
    background: url(../images/book-call-1.png);
    color: #fff;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 16px;
    position: relative;
    overflow: hidden;
      img {
        width: 100%;
        display: block;
      }
  }
  .btn{
    width: 147px;
  }
}
.call-content {
  background-color: #262729;
  padding: 15px 20px;
  h3 {
    font-weight: $fw-light;
    @include fontsize(20px);
    margin-bottom: 8px;
  }
  a {
    color: $white;
    @include fontsize(17px);
    margin-bottom: 6px;
    display: block;
    font-weight: $fw-light;
  }
  .icon-call {
    background-position: -210px -8px;
    background-size: 300px 300px;
    width: 27px;
    height: 24px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .book-and-call-1 {
    margin-bottom: 54px;
    .private-shopping {
      margin-bottom: 0;
    }
  }
}
@media screen and (min-width: 1200px) {
  .call-content{
    padding: 30px 50px 0px 61px;
    min-height: 242px;
    h3{
        @include fontsize(32px);
        margin-bottom: 24px;
    }
    p{
        margin-bottom: 28px;
    }
    a{
        font-size: 32px;
        margin-bottom: 19px;
    }
  }
}
