.book-and-call-1 {
  .private-shopping {
    background: url(../images/book-call-1.png);
    color: #fff;
    padding-top: 75px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 20px;
    min-height: 410px;
    position: relative;
    overflow: hidden;
    .image-wrapper {
      width: 150px;
      margin-bottom: 55px;
      margin-left: 20px;
      img {
        width: 100%;
        display: block;
      }
    }
  }
  .private-shopping.two {
    padding-top: 0;
    .image-wrapper.two {
      width: 100%;
      margin: 0;
    }
  }
  .glass-img {
    width: 70px;
    @include absolute($top: 11%, $right: 15%);
    img {
      width: 100%;
      display: block;
    }
  }
  .btn{
    width: 147px;
  }
}
.call-content {
  background-color: #262729;
  padding: 15px 20px;
  @include absolute($bottom: 0, $right: 0);
  width: 100%;
  min-height: 209px;
  h3 {
    font-weight: $fw-light;
    @include fontsize(20px);
  }
  a {
    color: $white;
    @include fontsize(17px);
    margin-bottom: 5px;
    display: block;
    font-weight: $fw-light;
  }
  .icon-call {
    background-position: -206px -4px;
    background-size: 450px 450px;
    width: 27px;
    height: 32px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .book-and-call-1 {
    margin-bottom: 59px;
    .private-shopping {
      min-height: 450px;
      margin-bottom: 0;
    }
  }
}
@media screen and (min-width: 1200px) {
  .book-and-call-1 {
    .private-shopping {
        min-height: 530px;
      .image-wrapper {
        width: 354px;
        margin-bottom: 55px;
        margin-left: 63px;
      }
    }
    .glass-img {
      width: 111px;
      top: 12%;
      right: 9%;
    }
  }
  .call-content{
    padding: 35px 50px 20px 61px;
    min-height: 242px;
    h3{
        @include fontsize(32px);
        margin-bottom: 24px;
    }
    p{
        margin-bottom: 28px;
    }
    a{
        font-size: 32px;
        margin-bottom: 20px;
    }
  }
}
