
.slider-two{
    .slide{
        text-align: center;
        cursor: pointer;
        &:hover img{
            filter: brightness(0%);
        }
        &:hover h3{
            color: #000;
        }
        h3{
            color: $golden;
        }
    }
    .image-wrapper{
        margin: 0 auto; 
        min-height: 80px;
        img{
            margin: 0 auto;
        }
    }
}

@media screen and (min-width: 768px){
    .slider-two{
        padding: 0 43px;
    }
    .category-icon-carousel{
        margin-bottom: 41px;
    }
}