.category-icon-carousel{
    margin-bottom: 20px;
}
.slider-two{
    .slide{
        text-align: center;
        cursor: pointer;
        filter: brightness(0);
        &:hover{
                filter: brightness(100%);
        }
        &:hover h3{
            color: $golden;
        }
        h3{
            color: $golden;
        }
    }
    .image-wrapper{
        margin: 0 auto; 
        min-height: 80px;
        img{
            margin: 0 auto;
        }
    }
}

@media screen and (min-width: 768px){
    .slider-two{
        padding: 0 43px;
    }
    .category-icon-carousel{
        margin-bottom: 52px;
    }
}