// content-section
.contact{
    margin-bottom: 16px;
}
.content {
 .container{
    text-align: center;
 }
 p {
    max-width: 960px;
  }
  h4 {
    font-weight: bold;
    @include fontsize(13px);
  }
}
// contact-section
.form-check-input[type="checkbox"] {
  border-radius: 0;
}
.contact-bottom{
    margin-bottom: 16px;
}
.contact-block {
  background-color: $text-color;
  padding: 15px;
  .highligted {
    color: $golden;
  }
  .contact-right {
    max-width: 325px;
    color: $white;
    flex: none;
    .title {
      margin-bottom: 10px;
      @include fontsize(19px);
      font-weight: $fw-medium;
      display: inline-block;
    }
    h2 {
      @include fontsize(27px);
      margin-bottom: 20px;
      color: #fff;
    }
    .address-deatil {
      margin-bottom: 19px;
      .text {
        @include fontsize(15px);
        margin-bottom: 20px;
        display: block;
        line-height: 1.4;
      }
      .home-address {
        display: block;
        @include fontsize(15px);
      }
    }
    .address-contact {
      .contact-details {
        @include fontsize(15px);
        display: block;
        color: $white;
        margin-bottom: 2px;
        &:last-child{
            color: $golden;
        }
      }
    }
  }
}
.form-left-content {
  margin-bottom: 16px;
  .btn{
    width: 100%;
  }
  &:last-child{
    margin-bottom: 5px;
  }
}
.form-input {
  padding: 0 14px;
  height: 34px;
  background-color: $body-color;
  border: none;
  color: #18191a;
  @include fontsize(15px);
}
.form-input:focus-visible {
  outline: none;
  border: none;
}
textarea {
  min-height: 113px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  color: #18191a;
  border: none;
  @include fontsize(15px);
  background-color: $body-color;
  color: $text-color;
}
.form-check-label {
  @include fontsize(11.5px);
  color: $white;
  padding-top: 6px;
}

// newsletter-section
.newsletter {
  margin-bottom: 15px;
  .newsletter-block {
    background-color: $text-color;
    padding: 15px;
    .newsletter-left {
      display: flex;
      margin-bottom: 10px;
      .icon-message {
        background-position: -99px -54px;
        background-size: 300px 300px;
        width: 35px;
        height: 26px;
        margin-right: 10px
      }
      h1 {
        @include fontsize(20px);
        color: $white;
        font-weight: $fw-light;
        margin-bottom: 0;
      }
    }
    .newsletter-right {
      .newsletter-wrapper {
        .newsletter-wrap {
          .form-left-content {
            margin-bottom: 5px;
          }
          .form-input {
            padding: 0 10px;
            height: 34px;
            background-color: $body-color;
            border: none;
            color: #18191a;
            @include fontsize(15px);
          }
          .form-input:focus-visible {
            outline: none;
            border: none;
          }
        }
        .newsletter-folder {
          .form-left-content {
            margin-bottom: 5px;
          }
          .form-input {
            padding: 0 10px;
            height: 34px;
            background-color: $body-color;
            border: none;
            color: #18191a;
            @include fontsize(15px);
          }
          .form-input:focus-visible {
            outline: none;
            border: none;
          }
        }
      }
      .form-check-label {
        @include fontsize(11.5px);
        color: $white;
        padding-top: 6px;
        .highligted {
          color: $golden;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  // contact-section
  .contact-block {
    display: flex;
    // .form-check{
    //     margin-left: 30px;
    // }
    .highligted{
        color: $golden;
    }
    .form-wrap {
      display: flex;
      flex-wrap: wrap;
      padding-right: 30px;
    }
    .form-left-content {
      padding: 0 8px;
      flex-grow: 1;
      flex-basis: 50%;
    }
    .contact-bottom {
      display: flex;
      align-items: center;
      padding: 0 8px;
      .btn{
        flex: none;
        width: 163px;
      }
    }
    .form-check{
        padding-left: 39px !important;
        padding-top: 7px;
    }
  }
  // newsletter-section
  .newsletter-block {
    display: flex;
    width: 100%;
    .newsletter-left {
      max-width: 360px;
      flex: none;
      margin-right: 30px;
      margin-bottom: 0;
      padding-top: 9px;
      .icon-message {
        margin-right: 21px;
      }
      h1 {
        @include fontsize(25px);
      }
    }

    .newsletter-right {
      width: 100%;
      .newsletter-folder {
        .form-left-content {
          padding: 0 8px;
          flex-grow: 1;
          flex-basis: 50%;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  // contact
  .contact{
    margin-bottom: 57px;
  }
  .contact-block {
    .form-left-content .form-input {
      padding: 0 14px;
    }
  }
  // newsletter
  .newsletter {
    .newsletter-wrapper {
      display: flex;
      margin-bottom: 3px;
    }
  }
}
@media screen and (min-width: 992px){
    .newsletter-wrapper{
        margin: 0 -6px;
        .form-left-content{
            width: calc(25% - 12px);
            margin: 0 6px;
        }
    }
}
@media screen and (min-width: 1024px) {
  // content
  .content {
    p {
      margin: 0 auto 30px;
    }
  }
  // contact
  .contact {
    .contact-block {
      .form-left-content {
        margin-bottom: 13px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  // content
  .content {
    h3 {
      letter-spacing: 0.1px;
      margin-left: -29px;
      margin-bottom: 3px;
    }
    h1 {
      margin-left: -39px;
      letter-spacing: 0.4px;
      margin-bottom: 21px;
    }
    p {
      line-height: 1.2;
      margin: 0 auto 32px;
    }
    h4 {
      margin-bottom: 17px;
      @include fontsize(10px);
      letter-spacing: 1.7px;
      color: $color-black;
    }
  }
  // contact
  .newsletter{margin-bottom: 69px;
    .newsletter-block{
        padding: 36px 65px 34px 66px;
        .newsletter-left{
            padding-top: 12px;
            margin-right: 41px;
            h1{
                @include fontsize(32px)
            }
            .icon-message{
              margin-top: 4px;
            }
        }
    }
    .newsletter-wrapper{
      .form-left-content{
        width: 174px;
      }
      .btn{
        &.two{
          min-width: 112px;
          margin-left: 6px;
        }
      }
    }
  }
  .contact {
    .contact-block {
        padding: 67px 68px 58px 59px;
      .contact-left {
        max-width: 680px;
        .form-wrap {
          padding-right: 0;
          .form-left-content {
            textarea {
              margin-bottom: -7px;
              letter-spacing: 1px;
              padding: 8px 15px;
            }
          }
        }
        .contact-bottom {
          .form-btn {
            padding: 8px 17px;
            margin-right: 15px;
          }
          .form-check-label {
            padding-top: 7px;
          }
        }
      }
      .contact-right {
        max-width: 371px;
        padding-left: 53px;
        .title {
          margin-bottom: 0;
        }
        h2 {
          @include fontsize(42px);
          margin-bottom: 22px;
        }
      }
    }
  }
  .form-check{
    padding-top: 5px;
  }
}
