.image-with-text-2 {
  margin-bottom: 16px;
  z-index: 1;
  .image-text-content {
    padding: 15px 20px;
    background-color: $text-color;
    h3,
    h1,
    h2,
    p {
      color: $white;
    } 
    
    h1 {
      line-height: 1.2;
      margin-bottom: 18px;
    }
    p {
      line-height: 1.4;
    }
    &.big {
      h3 {
        color: $golden;
      }
    }
  }
  h2 {
    @include fontsize(19px);
    margin-bottom: 20px;
    font-weight: $fw-regular;
  }
  .left-block{
    background-color: #fff;
    margin-bottom: 16px;
    padding-bottom: 15px;
  }
  .right-block {
    margin-bottom: 16px;
  }
}
.slider-for {
  width: 100%;
  margin-bottom: 14px;
  .slide {
    img {
      width: 100%;
      display: block;
    }
  }
}
.slider-nav {
  padding: 0 26px;
  margin: 0 -5px 20px;
  .slick-slide {
    margin: 0 8px;
  }
  .slick-prev,
  .slick-next {
    top: 50%;
    transform: translateY(-50%);
  }
  .slick-prev{
    left: 7px;
  }
  .slick-next{
    right: 7px;
  }
  .slide{
    display: flex !important;
  }
}
.slider-logo{
  max-width: 225px;
  margin: 0 auto;
  img{
    width: 100%;
    display: block;
  }
}
.price-info {
  h2 {
    @include fontsize(30px);
    font-weight: $fw-light;
    margin-top: 20px;
    margin-bottom: 10px !important;
    color: $golden !important;
    span {
      @include fontsize(19px);
    }
  }
  h3 {
    margin-bottom: 12px;
  }
  .prev-price {
    @include fontsize(19px);
    text-decoration: line-through;
    color: $golden;
  }
  .info-listing {
    li {
      &:nth-child(odd) {
        color: $white;
      }
      &:nth-child(even) {
        color: $golden;
      }
      &:nth-child(2) {
        margin-bottom: 15px;
      }
    }
  }
  .prev-price{
    @include fontsize(15px);
  }
}
@media screen and (min-width: 768px) {
  .image-with-text-2 {
    .row {
      padding: 0 10px;
    }
    .image-wrapper {
      position: relative;
      display: flex;
    }
    .col-md-6 {
      display: flex;
      align-items: stretch;
      padding: 0 !important;
    }
    .right-block{
      margin-bottom: 0;
    }
    .left-block{
      margin-bottom: 0;
    }
  }
  .slider-wrapper {
    display: flex;
    .left-block,
    .right-block {
      width: 50%;
    }
  }
  .price-info {
    padding-bottom: 27px;
    h1 {
      @include fontsize(42px);
      margin-top: 20px;
      margin-bottom: 10px !important;
      span {
        @include fontsize(19px);
      }
    }
    .prev-price {
      margin-bottom: 26px;
    }
  }
  .slider-nav {
    margin: 0 8px 58px;
    padding: 0px 60px;
    .slick-track{
      // display: flex;
    }
    .slick-slide {
      margin: 0 5px;
      border: 2px solid transparent;
    }
    .slick-prev {
      left: 18px;
    }
    .slick-next {
      right: 18px;
    }
    .slick-current{
      &.slick-active{
        border-color: $golden;
      }
      img{
        display: block;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .image-with-text-2 {
    margin-bottom: 49px;
    .container {
      padding: 0;
      max-width: 1200px;
    }
    .image-text-content {
      padding: 64px 46px 30px 59px;
      &.two {
        padding: 66px 57px 30px 67px;
        word-break: break-word;
        p {
          line-height: 1.22;
          margin-bottom: 20px;
        }
      }
      h1 {
        @include fontsize(62px);
        letter-spacing: 4px;
        word-spacing: -16px;
        line-height: 1.1;
      }
      h2 {
        @include fontsize(42px);
        color: $white;
        font-weight: $fw-light;
      }
    }
    &.two {
      margin-bottom: 85px !important;
      h1 {
        @include fontsize(42px);
        letter-spacing: 0;
        word-spacing: 1px;
        line-height: 1.1;
      }
      &.small{
        h2{
          margin-bottom: 45px;
          font-weight: $fw-medium;
        }
      }
    }
    &.product-details{
      margin-bottom: 86px;
      .image-text-content{
        h3{
          margin-top: 16px;
        }
        h1{
          font-size: 37px;
        }
      }
      h1 {
        @include fontsize(62px);
        letter-spacing: 4px;
        word-spacing: -7px;
        line-height: 1.1;
      }
    }
  }
  .slider-for {
    .slide {
      img {
        height: 100%;
      }
    }
  }
}
