.image-with-text-2 {
  .image-text-content {
    padding: 15px 20px;
    background-color: $text-color;
    h3,
    h1,
    p {
      color: $white;
    }
    h1 {
      line-height: 1.2;
      margin-bottom: 18px;
    }
    p {
      line-height: 1.4;
    }
    &.two {
      h3 {
        color: $golden;
      }
    }
  }
  h2 {
    @include fontsize(19px);
    margin-bottom: 20px;
    font-weight: $fw-regular;
  }
  .right-block{
    margin-bottom: 20px;
  }
}
.slider-for{
    width: 100%;
    margin-bottom: 20px;
    .slide{
        img{
            width: 100%;
            display: block;
        }
    }
}
.slider-nav{
    padding: 0 26px;
    margin-bottom: 20px;
    .slick-slide{
        margin: 5px;
    }
    .slick-prev,
    .slick-next{
        top: 50%;
        transform: translateY(-50%);
    }
}
@media screen and (min-width: 768px) {
  .image-with-text-2 {
    .row {
      padding: 0 10px;
    }
    .image-wrapper {
      position: relative;
      display: flex;
    }
    .col-md-6 {
      display: flex;
      align-items: stretch;
      padding: 0 !important;
    }
  }
  .slider-wrapper{
    display: flex;
    .left-block,
    .right-block{
        width: 50%;
    }
}
}
@media screen and (min-width: 1200px) {
  .image-with-text-2 {
    margin-bottom: 49px !important;
    .container {
      padding: 0;
      max-width: 1200px;
    }
    .image-text-content {
      padding: 64px 43px 30px 59px;
      &.two {
        padding: 66px 57px 30px 67px;
        word-break: break-word;
        p {
          line-height: 1.22;
          margin-bottom: 16px;
        }
      }
    }
    h2 {
      margin-bottom: 45px;
    }
    &.two{
        margin-bottom: 85px !important;
    }
  }
  .slider-for{
    .slide{
        min-height: 602px;
        img{
            height: 100%;
        }
    }
  }
}


