.product-series{
    .col{
        padding: 0 !important;
    }
    margin-bottom: 35px;
        img{
            width: 100%;
            display: block;
        }
    .series-content{
        padding: 10px;
        text-align: center;
        background-color: $text-color;
        h2{
            color: $white;
        }
    }
    .product-block{
        position: relative;
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 768px) {
    .product-series{
        margin-bottom: 41px;
        .series-content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2{
                margin-bottom: 0;
            }
        }
    }
}
@media screen and (min-width: 1200px){
    .product-series{
        .series-content{
            padding: 41px 61px 35px;
            h2{
                margin-bottom: 0;
                font-size: 32px;
            }
        }
    }
}