.slideshow-1 {
  z-index: 2;
  position: relative;
  .slide-content {
    padding: 25px 0 !important;
  }
  .slideshow-img {
    overflow: hidden;
    padding: 0 !important;
  }
  .slider-one {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .slideshow-1 {
    .slide-content {
      padding: 25px 15px 40px !important;
      background-color: $body-color;
    }
    .slideshow-img {
      img {
        display: block;
      }
    }
    .slider-one {
      min-height: 285px;
    }
  }
}
@media screen and (min-width: 992px) {
  .slideshow-1 {
    margin-top: -155px;
    z-index: 2;
    padding: 0;
    margin-bottom: 62px;
    .container {
      padding: 0;
      max-width: 1200px;
    }
    .slider-one {
      display: flex;
      border-radius: 20px 20px 0 0;
      overflow: hidden;
      padding-bottom: 0;
    }
    .slide-content {
      padding-bottom: 0;
      h1 {
        @include fontsize(32px);
      }
      h3 {
        margin-bottom: 7px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .slideshow-1 {
    margin-top: -205px;
    .slide-content {
      padding: 90px 50px 30px 61px !important;
      h3 {
        @include fontsize(19px);
        margin-bottom: 0;
      }
      h1 {
        @include fontsize(42px);
        margin-bottom: 19px;
      }
      p {
        @include fontsize(13px);
        line-height: 1.22;
      }
    }
  }
}
