.slideshow-1 {
  z-index: 2;
  position: relative;
  .slide-content {
    padding: 25px 0;
  }
  .slideshow-img {
    border-radius: 8px 8px 0 0;
    overflow: hidden;
  }
  .slider-one {
    padding-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .slideshow-1 {
    .slide-content {
      padding: 25px 15px 40px;
      background-color: $body-color;
    }
    .slideshow-img {
      border-radius: 8px 8px 0 0;
      overflow: hidden;
      img {
        display: block;
      }
    }
    .slider-one {
      min-height: 285px;
    }
  }
}
@media screen and (min-width: 992px) {
  .slideshow-1 {
    margin-top: -100px;
    z-index: 2;
    padding: 0;
    margin-bottom: 62px;
    .container {
      box-shadow: 0px 4px 9px rgb(0 0 0 / 25%);
      padding: 0;
      max-width: 1200px;
    }
    .slider-one {
      display: flex;
      border-radius: 20px 20px 0 0;
      overflow: hidden;
      padding-bottom: 0;
    }
    .slide-content {
      padding-bottom: 0;
      h1 {
        @include fontsize(32px);
      }
      h3 {
        margin-bottom: 7px;
      }
    }
    .slideshow-img {
      border-radius: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .slideshow-1 {
    margin-top: -193px;
    .slide-content {
      padding: 90px 50px 30px 61px;
      h3 {
        @include fontsize(19px);
        margin-bottom: 0;
      }
      h1 {
        @include fontsize(42px);
        margin-bottom: 19px;
      }
      p {
        @include fontsize(13px);
        line-height: 1.22;
      }
    }
  }
}
