/*
 Font-family
 -------------------------*/
$primary-fontfamily:'Source Sans Pro';
/*
 Font-color
 -------------------------*/
$white:#ffffff;
$color-black:#000000;
$text-color: #262729;
$body-color: #ebeaef;
$golden:#dcc889;
$gray:#6e6e6e;
$orange:#be6f5c;
$peach:#f3ebe5;
$light-gray:#f1f0ef;
$light-black:#808080;
$red:#eb1616;
/*
 Font-weight
 -------------------------*/
$fw-light:300;
$fw-regular:400;
$fw-medium:500;
$fw-semibold:600;
$fw-bold:700;

/*
 Background color
 -------------------------*/

/*
 Border-color
 -------------------------*/

/*
 Alignment
 -------------------------*/
$align-center:center;
$align-left:left;


/*** default values ***/
$__left:left;
$__right:right;
/***** custom values *****/
