.wide-image{
    z-index: 2;
    position: relative;
    margin-bottom: 16px;
    .container{
        border-radius: 15px 15px 0 0;
        img{
            border-radius: 15px 15px 0 0;
            display: block;
            width: 100%;
        }
    }
    &.two{
        margin-bottom: 49px !important;
    }
    .filter-listing{
        background-color: $text-color;
        padding: 15px;
        li{
            margin-bottom: 10px;
        }
        .form-select{
            border-radius: 0;
            padding: 4px 30px 3px 10px;
            @include fontsize(15px);
        }
    }
}
@media screen and (min-width: 768px){
    .wide-image{
        .filter-listing{
            display: flex;
            padding: 15px;
            li{
                margin-bottom: 0;
                width: calc(25% - 20px);
                margin: 0 7px;
                a{
                    width: 100%;
                }
            }
        }
    }
}
@media screen and (min-width: 992px){
    .wide-image{
        margin-bottom: 48px;
        .container{
            img{
                border-radius: 20px 20px 0 0;
            }
        }
        &.text-first{
            img{
                border-radius: 0 20px 0 0;
            }
        }
    }
}
@media screen and (min-width: 1200px){
    .wide-image {
        margin-bottom: 70px !important;
        .container{
            padding: 0;
            max-width: 1200px;
        }
        .filter-listing{
            padding: 34px 66px;
        }
        &.form{
            margin-bottom: 73px !important;
        }
    }
}
