.wide-image{
    z-index: 2;
    position: relative;
    margin-bottom: 16px;
    .container{
        border-radius: 15px 15px 0 0;
        img{
            border-radius: 15px 15px 0 0;
            display: block;
            width: 100%;
        }
    }
    &.two{
        margin-bottom: 49px !important;
    }
}
@media screen and (min-width: 992px){
    .wide-image{
        margin-top: -155px;
        margin-bottom: 48px;
        .container{
            img{
                border-radius: 20px 20px 0 0;
            }
        }
    }
}
@media screen and (min-width: 1200px){
    .wide-image {
        margin-top: -193px;
        margin-bottom: 70px !important;
        .container{
            padding: 0;
            max-width: 1200px;
        }
    }
}
